<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=" dropdown">
                    <a th:href="../shop/all">
                        <i class="menu-icon fa fa-table"></i>门店管理
                    </a>
                </li>
                <li class=" dropdown">
                    <a href="../good/all">
                        <i class="menu-icon fa fa-th"></i>商品管理
                    </a>
                </li>
                <li class=" dropdown">
                    <a href="../case/all">
                        <i class="menu-icon fa fa-th-list"></i>案例管理
                    </a>
                </li>
                <li class=" dropdown">
                    <a href="../info/all">
                        <i class="menu-icon fa fa-list"></i>资讯管理
                    </a>
                </li>
                <li class=" dropdown">
                    <a href="../poster/all">
                        <i class="menu-icon fa fa-table"></i>海报管理
                    </a>
                </li>
                <li class=" dropdown">
                    <a href="../video/all">
                        <i class="menu-icon fa fa-th"></i>视频管理
                    </a>
                </li>

                <li class=" dropdown">
                    <a href="../admin/myInfo">
                        <i class="menu-icon fa fa-gear"></i>基本信息
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>
</body>
</html>