<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>门店管理系统</title>
    <meta name="description" content="Exam Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../public/PicUpload/LXXUploadPic.css" rel="stylesheet"
          type="text/css">
    <style>
        html, body {
            height: 100%;
        }

        .right-panel {
            height: 100%;
            margin-top: 0;
            padding-top: 55px;
        }

        .content {
            height: 100%;
            position: relative;
        }

        .site-footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            height: 3%;
            margin-top: 35px;
        }
    </style>
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=" dropdown"><a href="../shop/all"> <i
                        class="menu-icon fa fa-table"></i>门店管理
                </a></li>
                <li class=" dropdown"><a href="../good/all"> <i
                        class="menu-icon fa fa-th"></i>商品管理
                </a></li>
                <li class=" dropdown"><a href="../case/all"> <i
                        class="menu-icon fa fa-th-list"></i>案例管理
                </a></li>
                <li class=" dropdown"><a href="../info/all"> <i
                        class="menu-icon fa fa-list"></i>资讯管理
                </a></li>
                <li class=" dropdown"><a href="../poster/all"> <i
                        class="menu-icon fa fa-table"></i>海报管理
                </a></li>
                <li class=" dropdown"><a href="../video/all"> <i
                        class="menu-icon fa fa-th"></i>视频管理
                </a></li>

                <li class=" dropdown"><a href="../admin/myInfo"> <i
                        class="menu-icon fa fa-gear"></i>基本信息
                </a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">获客系统企业端</a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">


                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${session.admin.realName}">
                    </a>

                    <div class="user-menu dropdown-menu">

                        <a class="nav-link" href="../admin/modifyPassword"><i
                                class="fa fa- user"></i>修改密码 </a>
                        <a class="nav-link"
                           href="../admin/logout"><i class="fa fa- user"></i>退出
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="col-sm-12" align="center" style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div style="text-align: left;margin-bottom: 21px;">当前位置：海报管理&nbsp;/ &nbsp;海报添加</div>
                    <form method="post" id="form"
                          enctype="multipart/form-data">
                        <table class="table">
                            <tr>
                                <td>标题</td>
                                <td><input name="title" class="form-control col-md-4"/></td>
                            </tr>
                            <tr>
                                <td>海报类别</td>
                                <td>
                                    <select name="typeId" class="form-control col-md-5" data-th-placeholder="请选择">
                                        <option th:if="${posterTypes!=null}" th:each="pt:${posterTypes}"
                                                th:value="${pt.id}" th:text="${pt.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>封面图</td>
                                <td>

                                    <div style="float: left;" id="LXXUploadPic" LXXCol="1" LXXRow="1" LXXWidth="200"
                                         LXXHeight="300"></div>
                                    <div style="float: left;margin-left: 20px;"><span style="color: blue" >海报推荐640*960像素</span>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2" align="center">
                                    <input type="submit" value="提交" class="btn btn-success btn-pad"></td>
                            </tr>

                        </table>

                    </form>

                </div>
            </div>
        </div>


        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->

    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->
<script type="text/javascript" src="../public/ckeditor/ckeditor.js"></script>
<script src="../assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="../public/PicUpload/uploadImage.js"></script>


</body>
</html>
